{% extends 'base.html.twig' %}

{% block title %}List all Notes{% endblock %}

{% block body %}
    <ul>
    {% for note in notes %}
        <li>
            <h4>{{ note.title }}</h4>
             <p>{{ note.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
